.main_row{
    height: 3rem;
    display: flex;
    align-items: center;
}

.main_row td:first-child{
    text-align: left;
    padding-left: 0;
    padding-right: 2rem;
}

.minus{
    padding-left: 0.5rem;
}

.intro{
    font-size: 0.9rem;
    padding-left: 2rem;
}

.actions{
    height: 11rem;
    display: flex;
    justify-content: center;
}

.radios{
    height: 90%;
    border-right: 1px solid #E0E0E0;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.permissions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 7rem;
    padding-left: 3rem;
}